@font-face {
    font-family: 'nba_heat_south_beachregular';
    src: url('fonts/nba_heat_south_beach-webfont.woff2') format('woff2'),
        url('fonts/nba_heat_south_beach-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

    font-family: 'nba_heat_south_beachregular', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
}

.container {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: black;
    padding: 2rem;
    gap: 2rem;
    border-radius: 6px;
    /* box-shadow: 5px #f890e7; */
    box-shadow: #f890e7 0px 54px 55px, #0bd3d3 0px -12px 30px, white 0px 4px 6px, white 0px 12px 13px, white 0px -3px 5px;
}

.teams-div {
    /* background-color: #630d54; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    width: 150px
}

.team-h3{
    /* background-color: #f890e7; */
    font-size: 2rem;
    width: auto;

}
.score-div {
    background-color: #0bd3d3;
    font-size: 4rem;
    width: 110px;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.score-div span {
    color: #f890e7;
}

.buttons-div {
    /* background-color: #f890e7; */
    display: flex;
    justify-content: space-between;
    width: 110px;
    gap: 0.3rem;
}

.buttons-div button {
    color: white;
    width: 2rem;
    padding: 3px 2px;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'nba_heat_south_beachregular', sans-serif;
    border: 1px solid #0bd3d3;
}

.buttons-div button:hover {
    cursor: pointer;
    border: 0 solid #0bd3d3;
    background-color: #f890e7;
    box-shadow: #f890e7 0px 54px 55px, #0bd3d3 0px -12px 30px, white 0px 4px 6px, white 0px 12px 13px, white 0px -3px 5px;

}